<h1>Burger Monster</h1>	
<main>	
      <section>	
              <h2>Burgers on the menu</h2>	
                  <ul>	
                            {{#each burgers}}	
                            {{#unless eaten}}
                             {{> menu/burger-block eaten=false}}	
                             {{/unless}}
                             {{/each}}
                                </ul>	

    </section>	
      </section>	
          <h2>Start cooking!</h2>	
            <form class="burger-form">	
                </form>
                </section>
    <section>
        <h2>Enjoy your burger! Yum!

        </h2>
    </section>
            